# Logs et fichiers de debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances (Ne jamais commiter node_modules !)
node_modules
.pnpm-store

# Build de production (Généré par Vite)
dist
dist-ssr

# Fichiers d'environnement locaux (Contiennent souvent des secrets/API keys)
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editeurs de code
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fichiers Système (Windows/Mac)
Thumbs.db
Desktop.ini
.DS_Store

# Tests (Si tu en ajoutes plus tard)
coverage